table {
    border: 1px solid #000;
}

tr {
    border: 1px solid #000;
}

input {

}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.read {
    background-image: url("images/check.svg");
    cursor: pointer;
    border: 1px solid #000;
}

.unread {
    background-image: url("images/uncheck.svg");
    cursor: pointer;
    border: 1px solid #000;
}
