@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #94b49f;
}

.content-container {
  background: #fcf8e8;
  width: clamp(400px, 100%, 1000px);
  margin: auto;
  position: relative;
  min-height: 100vh;
}

header {
  background: #fcf8e8;
  width: clamp(400px, 80%, 1000px);
  height: 8rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 80px;
}

h1 {
  font-family: 'Architects Daughter';
  font-weight: bold;
}

.addBookImg {
  width: 60px;
}

table {
  border-collapse: collapse;
  width: clamp(400px, 80%, 1000px);
  margin: auto;
  position: relative;
}

th {
  position: sticky;
  top: 7.9rem;
  background-color: #ecb390;
  font-size: 1.4rem;
}

.sort-img {
  width: 1.5rem;
}

.align-left {
  text-align: left;
  padding-left: 0.5rem;
}

.align-right {
  text-align: right;
  padding-right: 0.5rem;
}

.aligh-center {
  text-align: center;
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #cee5d0;
}

tbody > tr > :nth-child(1) {
  width: 40%;
  text-align: left;
  padding: 0.5rem;
  font-weight: bold;
}
tbody > tr > :nth-child(2) {
  width: 20%;
  text-align: left;
  padding: 0.5rem;
}
tbody > tr > :nth-child(3) {
  width: 15%;
  text-align: right;
  padding-right: 0.2rem;
}
tbody > tr > :nth-child(4) {
  width: 15%;
  text-align: center;
}
tbody > tr > :nth-child(5) {
  width: 15%;
  text-align: center;
}

img {
  width: 2rem;
  cursor: pointer;
}

img:active {
  transform: translateY(5%);
}

td {
  font-size: 1.2rem;
  font-family: 'Architects Daughter';
}

th,
td {
  padding: 0.2rem 0;
  border-bottom: 2px dashed #ddd;
}

tr:hover {
  background-color: honeydew;
}

/* Form */

#book-form {
  display: none;
  position: fixed;
  width: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  background: #9ab3a0;
  padding: 1rem;
  border-radius: 5%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

#book-form.show {
  display: block;
}

h2 {
  font-size: 2rem;
}

fieldset {
  background: #fcf8ea;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #111;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
}

.entry-line {
  display: flex;
  margin: 0.5rem;
}

label {
  flex: 2;
  padding-right: 1rem;
  font-family: 'Architects Daughter';
  font-size: 1.5rem;
}

input {
  flex: 5;
  font-size: 1rem;
  padding-left: 0.5rem;
  outline: none;
}

input:valid {
  background-color: #f3fff1;
}

input:invalid {
  background-color: #ee78786c;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  background: #94d4f6;
  padding: 0.3rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-weight: bold;
}

#delete-alert {
  display: none;
  position: fixed;
  width: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  background-color: #ee7c78;
  padding: 1rem 1rem 0 1rem;
  border-radius: 5%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

#delete-alert.show {
  display: block;
}

.delete-alert-container {
  background: #fbf8ea;
  text-align: center;
  padding: 1rem;
}

#book-title {
  font-weight: bold;
  overflow-wrap: break-word;
}

.care {
  padding: 2rem;
  font-weight: bolder;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  height: 1rem;
}
